@font-face{
font-family: "Barlow-Medium";
src: url("../fonts/Barlow-Medium/Barlow-Medium.ttf");  
src: url("../fonts/Barlow-Medium/Barlow-Medium.eot");
src: url("../fonts/Barlow-Medium/Barlow-Medium.svg"); 
src: url("../fonts/Barlow-Medium/Barlow-Medium.woff");
src: url("../fonts/Barlow-Medium/Barlow-Medium.woff2");
src: url("../fonts/Barlow-Medium/Barlow-Medium.otf"); 
}
@font-face{
font-family: "Barlow-Regular";
src: url("../fonts/Barlow-Regular/Barlow-Regular.ttf");   
src: url("../fonts/Barlow-Regular/Barlow-Regular.eot");
src: url("../fonts/Barlow-Regular/Barlow-Regular.svg");
src: url("../fonts/Barlow-Regular/Barlow-Regular.woff");
src: url("../fonts/Barlow-Regular/Barlow-Regular.woff2");
src: url("../fonts/Barlow-Regular/Barlow-Regular.otf");
}
@font-face{
font-family: "Barlow-SemiBold";
src: url("../fonts/Barlow-SemiBold/Barlow-SemiBold.ttf");   
src: url("../fonts/Barlow-SemiBold/Barlow-SemiBold.eot");
src: url("../fonts/Barlow-SemiBold/Barlow-SemiBold.svg");
src: url("../fonts/Barlow-SemiBold/Barlow-SemiBold.woff");
src: url("../fonts/Barlow-SemiBold/Barlow-SemiBold.woff2");
src: url("../fonts/Barlow-SemiBold/Barlow-SemiBold.otf");
}
body{
max-width:1000px;
margin:0 auto;
/*font-size:1vw;*/
}
.text{
text-align:right;
}
.scosche-page .redseparator  {
width: 100%;
height: 25px;
background: #ee4a50;
margin-bottom: 20px;
background: -moz-linear-gradient(top, #ee4a50 0%, #be1b21 100%);
background: -webkit-linear-gradient(top, #ee4a50 0%,#be1b21 100%);
background: linear-gradient(to bottom, #ee4a50 0%,#be1b21 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee4a50', endColorstr='#be1b21',GradientType=0 );
}
.scosche-page .logo
{
background-color: black;
}
.scosche-page .scosche_logo
{
padding:21px 0px 21px 0px;
}
.scosche-page .scosche_parts
{
background: #eabc33;
margin-top:-5px;
font-size:30px;
font-family: "Barlow-SemiBold";
}

hr { 
height: 2px;
background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}
.row1{
	background-color: #eabc33;
}
.scosche-page .scosche_info
{
background: #eabc33;
padding:18px 50px 0px 50px;
}
.scosche-page .scosche_list
{
background: #eabc33;

border-left:1px solid black;
margin:18px 0px 30px 0px;
}
.scosche-page .text1
{
padding:18px 0px 0px 0px;
}
.scosche-page .btn-dark
{
margin: 12px 33px -1px 0px;
padding: 5px 20px 5px 20px;
background-color: #000;
}
.input-group-text {
background-color: #eabc33;
border: none;
color:#000;
}
.input-group {
    width: 93%;
}
.input-group > .custom-select, .input-group > .form-control {
    margin-top: 16px;
}
.custom-select
{
background-color: #eabc33;
border: 1px solid #000;
border-radius: 0px;
transition: none;
box-shadow:none;
color:#000;
}
.input-group-prepend {
    margin-right: -1px;
    margin-top: 14px;
}
.custom-select:focus, .custom-select:active
{
outline: none !important;
box-shadow: none !important;
border:1px solid #000;
}
.btn-dark:focus,.btn-dark:active {
outline: none !important;
box-shadow: none !important;
}
option : focus, active{
outline: none !important;
}
.input{
min-width:90px;
font-family: "Barlow-SemiBold";
font-size:22px;
margin-left: 10px;
}
.mb-3, .my-3 {
margin-bottom: 15px !important;
}
.output1{
background-color: #FFF;
border-right: none;
}
.output2{
background-color: #FFF;
border-left: 1px solid black;
margin:40px 0 40px 0;
}

.out{
  border:1px solid black;
}
.para1{
font-family: "Barlow-Medium";
font-size:23px;
font-weight:600;
}
.para2{
font-family: "Barlow-Regular";
font-size: 21px;
}
.head1{
padding-top: 40px;
}
h1{
font-family:"Barlow-Medium";
font-size:30px;
}
h3{
margin-top:30px;
font-family:"Barlow-SemiBold";
font-size:20px;
}
.zoom {
transition: transform 3s;
}
.zoom:hover {
transform: scale(0.9); 
}

@media screen and (max-width: 867px) and (min-width: 796px){
	.para2{
		font-size:18px;
	}
}
@media screen and (max-width: 795px) and (min-width: 708px){
	.para2{
		font-size:18px;
	}
	.scosche-page .scosche_info {
    background: #eabc33;
    padding: 18px 50px 0px 50px;
    margin-top: -16px;
}
}
@media screen and (max-width: 707px) and (min-width: 618px){
	.para2{
		font-size:17px;
	}
	.para1{
		font-size:17px;
	}
	.input{
		font-size:17px;
	}
	.scosche-page .scosche_info {
    margin-top: -16px;
}
.scosche-page .btn-dark {
    margin: 34px 33px -1px 0px;
}
}
@media screen and (max-width: 617px) and (min-width: 594px){
	.para2{
		font-size:17px;
	}
	.para1{
		font-size:17px;
	}
	.input{
		font-size:17px;
	}
	.scosche-page .scosche_info {
    margin-top: -16px;
}
.scosche-page .btn-dark {
    margin: 40px 33px -1px 0px;
}
}
@media screen and (max-width: 594px) and (min-width: 574px){
	.para2{
		font-size:16px;
	}
	.para1{
		font-size:17px;
	}
	.input{
		font-size:17px;
	}
	.scosche-page .scosche_info {
    margin-top: -16px;
}
.scosche-page .btn-dark {
    margin: 40px 33px -1px 0px;
}
}
@media screen and (max-width: 575px) and (min-width: 320px){
	.para2{
		font-size:17px;
	}
	.para1{
		font-size:18px;
	}
	.input{
		font-size:17px;
	}
	.scosche-page .scosche_info {
    margin-top: -16px;
}
.scosche-page .btn-dark {
    margin: 16px 33px 0px 0px;
}
.scosche-page .scosche_list
{
border-left:none;

}
.input-group-prepend {
    margin-right: -14px;
    margin-top: 14px;
}
.scosche-page .scosche_list {
    margin: 0px 0px 30px 0px;
}
}
/*@media screen and (max-width: 576px) and (min-width: 642px){
	.input-group-prepend {
    margin-right: -32px;
}
*/
}